@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@0,600;1,400&display=swap');

body {
    font-family: Playfair Display, sans-serif; 
    font-weight: 600;
    color: #black; 
}

/* logo and menu styling */

.headerborder {
    border-bottom: 3px solid black; 
    overflow: hidden; 
}

h1 {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    color: #000000;
}

#logo {
    padding-top: 30px;
    font-size: 300%; 
    text-transform: uppercase; 
    float: left; 
}

#menu {
    font-size: 150%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 40px; 
    margin-top: 0; 
}

#menu li {
    list-style-type: none;
    float: right;
    padding: 10px;
    color: black;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

.active {
    border-bottom: 1px solid #000000;
}

/* section padding */

section {
    height: 500px;
}

/* footer styling */

footer {
    border-top: 3px solid #000000;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#flag-green {
    background-color: #008C45;
    float: left;
    height: 100px; 
    width: 33.33%;
    }   

#flag-white {
    background-color: #F4F9FF;
    height: 100px; 
    width: 33.33%; 
    }

#flag-red {
    background-color: #CD212A;
    float: right;
    height: 100px; 
    width: 33.33%; 
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}