@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Playfair+Display:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif; 
    font-weight: 600;
    color: black; 
    background-color: #F4F9FF;
}

/* logo and menu styling */

.headerborder {
    border-bottom: 3px solid black; 
    overflow: hidden; 
}

h2 {
    font-family: Playfair Display, sans-serif;
    font-weight: 600;
    color: #000000;
}

h1 {
    font-family: Playfair Display, sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #000000;
}

#logo {
    padding-top: 5px;
    float: left;  
}

#menu {
    font-size: 150%;
    letter-spacing: 1px;
    line-height: 75px;
}

#etna-logo {
    float: left;
}

#menu, #logo { 
    margin-top: 0; 
}

#menu li {
    list-style-type: none;
    float: right;
    padding: 15px;
    display: block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

.active {
    border-bottom: 1px solid #000000;
}

/* section padding */

section {
    height: 100%;
    overflow: hidden;
}

/* home page styling */

.about-container {
    width: 100%;
    height: 400px;
    background-color: #008C45;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-text {
    float: left;
    width: 33%;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
}

.about-text>h2 {
    color: white;
    font-weight: bold;
    font-size: 200%; 
}

.about-text>p {
    color: white;
    padding-top: 20px;
    font-size: 125%;
}

.details-container {
    width: 100%;
    height: 400px;
    background-color: #CD212A;
    margin-top: 100px;
    margin-bottom: 100px;
}

.tripadvisor-image {
    float: right;
    height: 500px;
    margin-right: 15%;
    position: relative;
    bottom: 50px;
}

.home-section {
    background-color: #F4F9FF;
    height: 100%; 
    width: 100%; 
    }

.details-contact {
    float: right;
    color: white;
    width: 33%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.details-contact>h2 {
    color: white;
    font-weight: bold;
    font-size: 200%;
}

.details-contact>p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 125%;
}

.location-map {
    float: left;
    height: 500px;
    margin-left: 15%;
    position: relative;
    bottom: 50px; 
}

/* styling for menu layout */

#menu-page {   
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-content: center; 
    }

#etna-menu {
    text-align: center;
    font-weight: bold; 
    text-transform: uppercase;
    text-decoration-line: underline;
}

.menu-headers {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: underline;
    margin: 0;  
}

.starters { 
    padding: 10px;
    text-align: center;
}

.starters-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pizza-first { 
    padding: 10px;
    text-align: center;
}

.pizza-second, .pizza-third, .pizza-fourth { 
    padding: 50px;
    text-align: center;
}

.margherita {
    width: 400px;
    height: 400px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mediterranea {
    width: 400px;
    height: 400px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.piccantina {
    width: 400px;
    height: 400px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.norma {
    width: 400px;
    height: 400px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desserts { 
    padding: 10px;
    text-align: center;
}

.desserts-image {
    width: 300px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h3 {
    text-transform: uppercase; 
}

/* background image for booking page */

#aguilas-image {
    position: relative; 
    background: url('../images/aguilas.jpg') no-repeat center center;
    height: 73vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#aguilas-image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.15);
}

/* styling for booking page */

#booking {
    text-align: center;
    width: 100%;
    color: black;
    font-weight: 900;
}

#booking>h1 {
    color: black;
    font-weight: 900;
}

.book-table {
    text-decoration-line: underline;
}

.box-border {
    border: black solid 2px; 
}

/* footer styling */

footer {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    bottom: 0px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#flag-green {
    background-color: #008C45;
    float: left;
    height: 100px; 
    width: 33.33%;
    }   

#flag-white {
    background-color: #F4F9FF;
    height: 100px; 
    width: 33.33%; 
    }

#flag-red {
    background-color: #CD212A;
    float: right;
    height: 100px; 
    width: 33.33%; 
}

.social-networks {
    text-align: center;
    padding-top: 20px;
}

.social-networks>li {
    display: inline;
    vertical-align: middle;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #000000;
}

/* For larger screens size from 1550px wide and down */
@media screen and (max-width: 1550px) {
    .about-text>p {
        font-size: 120%;
        padding-top: 0;
    }

    .about-text {
        width: 40%;
    }

    .tripadvisor-image {
        margin-right: 10%;
    }

    .location-map {
        margin-left: 10%;
    }
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {   
    /* homepage */
    .about-text>h2 {
        font-size: 150%;
    }

    .details-contact>h2 {
        font-size: 150%;
    }

    .about-text>p {
        font-size: 110%;
    }

    .tripadvisor-image {
        height: 400px;
        bottom: 0;
    }

    .location-map {
        bottom: 0; 
    }

    iframe {
        height: 400px;
        width: 339.55px;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    /* homepage */
    .about-text>h2 {
        font-size: 150%;
    }

    .details-contact>h2 {
        font-size: 150%;
    }

    .about-text>p {
        font-size: 100%;
    }

    .tripadvisor-image {
        height: 300px;
        top: 50px;
    }

    .location-map {
        top: 50px; 
    }

    iframe {
        height: 300px;
        width: 254.66px;
    }
}

/* For tablet screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    
    /* homepage */

    .about-text {
        margin-left: 5%;
    }

    .about-text>h2 {
        font-size: 150%;
    }

    .details-contact>h2 {
        font-size: 150%;
    }

    .about-text>p {
        font-size: 90%;
    }

    .tripadvisor-image {
        height: 300px;
        top: 50px;
        margin-right: 5%;
    }

    .location-map {
        top: 50px;
        margin-left: 5%; 
    }

    iframe {
        height: 300px;
        width: 254.66px;
    }

    /* menu */
    .margherita, .mediterranea, .piccantina, .norma {
    width: 300px;
    height: 300px;
    padding: 45px 0px;
    }

    #menu-page>h3 {
        font-size: 80%;
    }

    #menu-page>p {
        font-size: 80%;
    }

    .pizza-first { 
        padding: 10px;
        text-align: center;
    }

    .pizza-second, .pizza-third, .pizza-fourth { 
        padding: 10px;
        text-align: center;
    }
}

/* For mobile screen sizes from 650px wide and down */
@media screen and (max-width: 650px) {
    #menu {
        clear: left;
        float: left;
    }
}

/* For mobile screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    /* homepage */
    .tripadvisor-image {
        display: none;
    }

    .location-map {
        display: none; 
    }

    .about-text {
        float: none;
        width: 90%;
        padding: 5%;
        margin: 0;
    }

    .details-contact {
        float: none;
        width: 90%;
        padding: 5%;
        margin: 0;
    }

    /* menu */

    #menu-page {   
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        align-content: center; 
        }

    .margherita, .mediterranea, .piccantina, .norma {
        width: 200px;
        height: 200px;
        padding: 45px 0px;
    }

    #menu-page>h3 {
        font-size: 80%;
    }

    #menu-page>p {
        font-size: 80%;
    }

    .pizza-first { 
        padding: 10px;
        text-align: center;
    }

    .pizza-second, .pizza-third, .pizza-fourth { 
        padding: 10px;
        text-align: center;
    }
}


